@import "variables";

.main {
  &__outer {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__search {
    position: absolute;
    left: 45%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 95%;
  }
  &__title {
    font-size: xx-large;
    font-weight: 900;
  }
  &__subtitle {
    font-size: x-large;
  }

  &__list {
    // width: 100%;
    // max-width: 1600px;
    // margin: 0 auto;
  }
}
