.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.header__register {
  display: flex;
  gap: 1rem;
}
.logo {
  font-size: xx-large;
  font-family: Pacifico,cursive;
}

.mat-button-toggle-group {
  height: 3.6rem;
  align-items: center;
}
.mat-button-toggle {
  background:var(--secondary);
}
.mat-button-toggle-checked {
  background:var(--primary);
}
