.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.header__register {
  display: flex;
  gap: 10px;
}
.logo {
  font-size: xx-large;
  font-family: Pacifico,cursive;
}

.mat-button-toggle {
  background:var(--primary);
}
