<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <!-- Logo -->
      <a routerlink="/" class="link logo" href="/">PMApp</a>
      <!-- Language -->
      <div class="header__language">
        <mat-button-toggle-group     name="favoriteLanguage" aria-label="Favorite Language">
          <mat-button-toggle class="btn-toggle" color="primary" value="en">En</mat-button-toggle>
          <mat-button-toggle value="ru">Ru</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!-- Log In -->
      <div class="header__register">
        <button mat-raised-button color="primary">Sign Up</button>
        <button mat-raised-button color="primary">Log In</button>
      </div>
    </div>
  </div>
</header>
