@import "variables";
.board {
  min-width: 30rem;
  height: 15rem;
  border: 1px solid $color-primary;
  box-shadow: 0px 2px 5px 1px $color-primary-light;
  transition: all ease 0.5s;
  cursor: pointer;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 2.5rem;
  }
  &__img {
    background-image: url("../../../../../../assets/png/avatars.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    height: 100%;
    width: 60%;
  }
  &:hover {
    box-shadow: $shadow-card;
  }
  &__button {
    &:hover {
      background-color: $color-accent-light;
    }
  }
}
.mat-icon {
  transform: scale(1.5);
}
