@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

:root {
  --primary: #7b1fa2;
  --secondary: #d1ace1;
  --background-gradient: #eae6ff;
  --white: #fff;
  /* --green-light: #90ee90;
  --green: #008000;
  --amber: #ffd640;
  --amber-light: #fbeec2;
  --amber-dark: #f5c105;
  --hover: rgba(251, 238, 194, .1);
  --red-transparent: rgba(244, 67, 54, .1);
  --disabled: rgba(0, 0, 0, .26) */
}
* {
  box-sizing: border-box
}
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(0deg,var(--white),var(--background-gradient) 100%);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  flex: 1 1 auto;
}
.link {
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  transition: all .2s ease-out;
}
.link:hover {
  text-decoration: underline;
}

/* ADditional */
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
