@import "variables";

.column {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  align-items: center;
  background: transparent;
  overflow-y: auto;
  margin-bottom: 2rem;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary-light;
    color: white;
    border-radius: 1rem 1rem 0 0;
  }
  &__title {
    width: 90%;
    width: 100%;
    cursor: pointer;
    h3 {
      text-align: center;
      font-size: 2.5rem;
      margin: 0;
    }
  }
}

// update title

.edit-container {
  display: none;
  gap: 1rem;
  width: 90%;
  padding: 1rem;
}

.button-edit-input {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.title-input {
  width: 13rem;
  border-color: white;
  border-radius: 0.5rem;
  font-size: large;
  font-weight: 500;
  padding: 0 1rem;
  color: $color-primary;
}

.hide {
  display: none;
}
.visible {
  display: flex;
}
