<div class="columns-list" *ngIf="(columns$ | async) as columns">

  <ul class="columns-list__container" *transloco="let t">
    <li class="column" *ngFor="let column of columns; let i = index">
      <div class="column__header">
        <h3 class="column__title">{{column.title}}</h3>
        <app-confirm-modal appClickStopPropagation (emitConfirm)="deleteBoard($event, column._id)" [data]="data">
          <button mat-icon-button type="button">
            <mat-icon class="mat-icon">delete_forever</mat-icon>
          </button>
        </app-confirm-modal>
      </div>
    </li>
  </ul>
</div>