<div *transloco="let t">
  <mat-card class="auth-card__wrapper">
    <!-- TITLE -->
    <mat-card-header class="auth-card__header">
      <mat-card-title
        class="auth-card__title">
        {{ t("signUp") }}
      </mat-card-title>
    </mat-card-header>
    <!-- FORM BODY -->
    <mat-card-content class="auth-card__content">
        <!-- <form [formGroup]="userRegisterForm" (submit)="submit()"> -->
        <form [formGroup]="userRegisterForm" (submit)="userRegisterForm.valid && submit()">
        <!-- NAME -->
        <mat-form-field class="auth-card__field" appearance="fill">
          <mat-label>{{ t("name") }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            maxlength="20"/>
          <!-- error message -->
          <mat-error
            *ngIf="userRegisterForm.get('name')?.invalid">
            <span *ngIf="userRegisterForm.get('name')?.hasError('required')">
              {{ t("forms.errors.enterName") }}
            </span>
            <span *ngIf="userRegisterForm.get('name')?.errors?.['minlength']">{{ t("forms.errors.lengthName") }}</span>
            <span *ngIf="userRegisterForm.get('name')?.errors?.['maxlength']">{{ t("forms.errors.lengthName") }}</span>
          </mat-error>
        </mat-form-field>
        <!-- lOGIN -->
        <mat-form-field class="auth-card__field" appearance="fill">
          <mat-label>{{ t("login") }}</mat-label>
          <input
            matInput
            type="login"
            formControlName="login"
            maxlength="20"/>
          <!-- error message -->
          <mat-error *ngIf="userRegisterForm.get('login')?.invalid">
            <span *ngIf="userRegisterForm.get('login')?.hasError('required')">
              {{ t("forms.errors.enterLogin") }}
            </span>
            <span *ngIf="userRegisterForm.get('login')?.errors?.['minlength']">{{ t("forms.errors.lengthLogin") }}</span>
          </mat-error>
        </mat-form-field>
        <!-- PASSWORD -->
        <mat-form-field class="auth-card__field" appearance="fill">
          <mat-label>{{ t("password") }}</mat-label>
          <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          maxlength="20">
          <button
            mat-icon-button
            color="accent"
            matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <!-- error message -->
          <mat-error *ngIf="userRegisterForm.get('password')?.invalid">
            <span *ngIf="userRegisterForm.get('password')?.hasError('required')">
              {{ t("forms.errors.enterPassword") }}
            </span>
            <span *ngIf="userRegisterForm.get('password')?.errors?.['minlength']">{{ t("forms.errors.lengthPassword") }}</span>
          </mat-error>
        </mat-form-field>
        <!-- BUTTONS -->
        <button
          mat-raised-button
          color="primary"
          [disabled]="!userRegisterForm.valid"
          type="submit">
          {{ t("signUp") }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
