@import "variables";

.card-form {
  max-width: 35rem;
  border-radius: 1rem;

  &__header {
    width: 100%;
    padding: 1.5rem;
    background-color: $color-primary;
    color: white;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
  }
  &__content,&__actions {
    padding: 2rem;
  }
  &__field{
    width: 100%;
    padding: 0;
  }
  &__actions{
    justify-content: space-between;
  }
}
