<header class="header" *transloco="let t">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__nav-left">
        <!-- Logo -->
        <a routerLink="" class="logo">PMApp</a>
        <!-- Language -->
        <div class="header__language">
          <mat-button-toggle-group class="button-toggle-group" (change)="onSiteLanguageChange($event.value)"
            aria-label="Favorite Language">
            <mat-button-toggle class="button-toggle" value="en" checked>EN</mat-button-toggle>
            <mat-button-toggle class="button-toggle" value="ru">RU</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="header__nav-right" *ngIf="!isAuthorized; else authorized">
        <!-- Log In -->
        <div class="header__register">
          <button mat-raised-button color="primary" routerLink="/auth/signUp">{{t('signUp')}}</button>
          <button mat-raised-button color="primary" routerLink="/auth/login">{{t('logIn')}}</button>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #authorized>
  <div class="header__nav-right" *transloco="let t">
    <!-- New Board -->
    <app-dialog (click)="setIsOneFiledForm()" (emitText)="addNewBoard($event)" appStopPropagation>
      <a mat-raised-button color="primary" routerLink="/main">
        {{ t("newBoard") }}
      </a>
    </app-dialog>
    <!-- Edit profile -->
    <a mat-raised-button color="primary" routerLink="/editProfile">
      {{t('editProfile.editProfile')}}
    </a>
    <!-- Log Out -->
    <button mat-raised-button color="primary" (click)="logOut()">
      {{t('logOut')}}
    </button>
  </div>
</ng-template>