@import "variables";

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.header__register {
  display: flex;
  gap: 1rem;
}
.logo {
  font-size: xx-large;
  font-family: Pacifico,cursive;
}

.button-toggle-group {
  height: 3.6rem;
  align-items: center;
}
.button-toggle {
  background:$color-primary-light;
  color: white;
  font-weight: 500;
}
.mat-button-toggle-checked {
  background:$color-primary;
  color: white!important;
}
