@import "variables";

.header__wrapper {
  padding: 2rem 0;
}
.header__wrapper,
.header__nav-left,
.header__nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header__wrapper {
  gap: 4rem;
}
.header__nav-right {
  width: 100%;
  justify-content: flex-end;
}
.header__register {
  display: flex;
  gap: 1rem;
}
.logo {
  font-size: xx-large;
  font-family: Pacifico, cursive;
}
.button-toggle-group {
  height: 3.6rem;
  align-items: center;
}
.button-toggle {
  background: $color-primary-light;
  color: white;
  font-weight: 500;
}
.mat-button-toggle-checked {
  background: $color-primary;
  color: white !important;
}
