@import "variables";

.card-form {
  &__header {
    width: 100%;
    padding: 1.5rem;
    background-color: $color-primary;
    color: white;
    display: flex;
    justify-content: center;
  }
  &__content,
  &__actions {
    padding: 2rem;
  }
  &__field {
    width: 100%;
    padding: 0;
  }
  &__actions {
    justify-content: space-between;
    gap: 2rem;
    // flex-wrap: wrap;
  }
}
.mdc-button {
  width: 17rem;
}
.mat-mdc-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
  margin: 0;
}

@media (max-width: 480px) {
  .card-form {
    &__actions {
      flex-wrap: wrap;
    }
  }
  .mdc-button {
    width: 100%;
  }
}
