@import "variables";

.boards-list {
  padding: 30px;
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    width: 100%;
  }
}
.board {
  max-width: 40rem;
  min-width: 30rem;
  height: 15rem;
  border: 1px solid $color-primary;
  box-shadow: 0px 2px 5px 1px $color-primary-light;
  transition: all ease 0.5s;
  cursor: pointer;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 2.5rem;
  }

  &:hover {
    box-shadow: $shadow-card;
  }
}

.create-board__img {
  background-image: url("../../../../../../assets/png/TaskManagement-hero.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 100%;
}
