<article class="boards-list" *transloco="let t">
  <div class="boards-list__container">
    <mat-card
    class="boards-list__item boards-list__create"
    (click)="openDialog()" >
      <mat-card-title
        class="boards-list__title">
        {{ t('main.board-list.newBoard') }}
      </mat-card-title>
      <img src="../../../../../../assets/png/icons8-plus-96.png" alt="create" class="boards-list__img">
    </mat-card>

    <mat-card class="boards-list__item">

    </mat-card>
    <mat-card class="boards-list__item">

    </mat-card>
    <mat-card class="boards-list__item">

    </mat-card>
    <mat-card class="boards-list__item">

    </mat-card>
    <mat-card class="boards-list__item">

    </mat-card>

  </div>

</article>
