.sort {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: large;
  }
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__icon {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}
